@charset "UTF-8";
:root{
  --blue : #003ADB
  }
/* body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif","pretendard";
  overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
   
ul,
li,
input,
button,
select {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
} */


.filter_area{
  background-color: #0A0A0A;
  width: 100%;
  padding:1px;
  padding-left: 8vw;
  padding-right: 8vw;
  box-sizing: border-box;
  display:none;
}



.filter_header{
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  /* width:100%; */
  padding-left: 8vw;
  padding-right: 8vw;
  box-sizing: border-box;
  height: 42px;
  /* margin:auto; */
  margin-top: 150px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  left: 0;
  right: 0;
  
}

.filter_arrow{
  display: flex;
  width: 32px;
  height: 32px;
  right: 0px;
  transition:all 0.5s ease-in-out;
}



.filter_buttons li{
  display: flex;
  margin-top: 32px;
  justify-content: space-between; 
  width: calc(100%-16vw)
}

.filter_buttons{
  padding-left: 8vw;
  padding-right: 8vw;
  box-sizing: border-box;
  margin-top: 32px;

}



.filter_buttons .filter_label {
  margin-top: 4px;
  margin-bottom: 8px; 
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  height: 32px;
  color: white;
  background-color: #0A0A0A; 
  border: none;
  cursor: pointer;
  border-radius: 100px; 
  transition: 0.3s ease;
  border: 1px solid #eeeeee;
  
}

.filter_buttons .filter_label:hover {
  margin-top: 4px;
  margin-bottom: 8px; 
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  height: 32px;
  background-color: #003ADB;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px; 
  transition: 0.1s ease;
  border: 1px solid #003ADB;
  
}

.spacing {
  width: 100%;
  height: 32px;
  background-color: #0A0A0A; 
  margin-top: 0;
  margin-bottom: 0;
}

#item_list {
  list-style: none; /* #은 어떠할때 쓰는것인가요?  re: id값이 지정되어있을 때 사용합니다...!*/
  display: flex;

}

#item_list li {
  display: none; /* #은 어떠할때 쓰는것인가요? */
}

.item_list{
  
}
.item_list img {
  /*선생님 .item_list img라고 하면 이미지가 세팅이 안먹고 width100% 
  으로 뜨는데 왜 그런건가요? 
  #item_list 로하면 적용됩니다~ X)
  */
   /*선생님 image가 찌그러져 보이지 않고 상하좌우 비율 유지한 이미지로
     적용되었음하는데 cover말고 어떤거 써야할까요? 
      re: 이미지에 직접적인 크기가(width, height)
      고정값으로 들어가 있어서 그렇습니다! 저럴 때는
      background-size 속성보다는 object-fit:contain을 사용해주는것이 적절하고
      background 속성은 백그라운드에 이미지를 적용해줬을 때 사용해요...!
     */

  width:180px;
  height:104px;
  overflow: hidden;
  border-radius: 6px;
  margin-right: 16px;
  object-fit: cover;
  object-position:center;
}


.filter_label.active {
  background-color: var(--blue); /* 선생님 이거왜 색상이 안변할까요 
  active 클래스가 추가되지 않은것 같습니다 ㅎㅎ js에는 해당 부분이 없는 것 같아요!*/
  border : 1px solid var(--blue);
}


.bottom_bth{
  display: flex;
  justify-content: end;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 16px;

}


.bottom_bth_resetall{
  margin-top: 0px;
  text-align: center;
  width: 140px;
  height: 48px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  border:1px solid #fff;
  transition: background-color 0.3s ease;
}

.bottom_bth_resetall:hover{
  border-radius: 8px;
  border:1px solid #acacacbc;
  color: #acacacbc;
  transition: 0.3s ease;
}

/* 선생님 reset all 버튼을 누르면 ㅎㅎㅎ 아이템이 다나와여..ㅠ 
re: 이건 해결해서 푸시드린것 같습니다!
*/


.bottom_bth_watchindetail{
  margin-top: 0px;
  text-align: center;
  width: 140px;
  height: 48px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  background-color: #003ADB;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;

}

.bottom_bth_watchindetail:hover{
  background-color: #002daa;
  color: #ffffffa6;
  transition: background-color 0.3s ease;

}